In [9]:
import pandas as pd

In [11]:
clear_night_ctl = pd.read_csv('campaign_results/route_highway_epoch24_clear-night_fi_ghost_cutin/routes_fi_route_highway-0908_192531-data_fi_ghost_cutin-single_ctl.csv')
clear_night_cvip = pd.read_csv('campaign_results/route_highway_epoch24_clear-night_fi_ghost_cutin/routes_fi_route_highway-0908_192531-data_fi_ghost_cutin-single_cvip.csv')
clear_night_traj = pd.read_csv('campaign_results/route_highway_epoch24_clear-night_fi_ghost_cutin/routes_fi_route_highway-0908_192531-data_fi_ghost_cutin-single_traj.csv')

clear_sunset_ctl = pd.read_csv('campaign_results/route_highway_epoch24_clear-sunset_fi_ghost_cutin/routes_fi_route_highway-0908_191944-data_fi_ghost_cutin-single_ctl.csv')
clear_sunset_cvip = pd.read_csv('campaign_results/route_highway_epoch24_clear-sunset_fi_ghost_cutin/routes_fi_route_highway-0908_191944-data_fi_ghost_cutin-single_cvip.csv')
clear_sunset_traj = pd.read_csv('campaign_results/route_highway_epoch24_clear-sunset_fi_ghost_cutin/routes_fi_route_highway-0908_191944-data_fi_ghost_cutin-single_traj.csv')

clear_noon_ctl = pd.read_csv('campaign_results/route_highway_epoch24_clear-noon_fi_ghost_cutin/routes_fi_route_highway-0908_191445-data_fi_ghost_cutin-single_ctl.csv')
clear_noon_cvip = pd.read_csv('campaign_results/route_highway_epoch24_clear-noon_fi_ghost_cutin/routes_fi_route_highway-0908_191445-data_fi_ghost_cutin-single_cvip.csv')
clear_noon_traj = pd.read_csv('campaign_results/route_highway_epoch24_clear-noon_fi_ghost_cutin/routes_fi_route_highway-0908_191445-data_fi_ghost_cutin-single_traj.csv')

rain_noon_ctl = pd.read_csv('campaign_results/route_highway_epoch24_rain-noon_fi_ghost_cutin/routes_fi_route_highway-0908_191721-data_fi_ghost_cutin-single_ctl.csv')
rain_noon_cvip = pd.read_csv('campaign_results/route_highway_epoch24_rain-noon_fi_ghost_cutin/routes_fi_route_highway-0908_191721-data_fi_ghost_cutin-single_cvip.csv')
rain_noon_traj = pd.read_csv('campaign_results/route_highway_epoch24_rain-noon_fi_ghost_cutin/routes_fi_route_highway-0908_191721-data_fi_ghost_cutin-single_traj.csv')

In [12]:
clear_night_ctl.head()

       ts  agent_id  throttle     steer  brake
0  134037         0       0.9 -0.001351    0.0
1  134038         0       0.9 -0.009211    0.0
2  134039         0       0.9 -0.005046    0.0
3  134040         0       0.9 -0.007152    0.0
4  134041         0       0.9 -0.001497    0.0

In [13]:
clear_night_cvip.head()

       ts  agent_id        cvip      cvip_x     cvip_y      cvip_z
0  134037         0  500.491189  198.767441 -95.832657 -499.819366
1  134038         0    5.595580  195.567444 -90.832657    0.100000
2  134039         0    5.592365  195.567444 -90.832657    0.095407
3  134040         0    5.589578  195.567444 -90.832657    0.084691
4  134041         0    5.587154  195.567444 -90.832657    0.069311

In [14]:
clear_night_traj.head()

       ts  agent_id           x         y         z    v
0  134037         0  192.362411 -86.26268  0.539326  0.0
1  134038         0  192.362411 -86.26268  0.491906  0.0
2  134039         0  192.362411 -86.26268  0.438374  0.0
3  134040         0  192.362411 -86.26268  0.378732  0.0
4  134041         0  192.362411 -86.26268  0.312981  0.0

In [15]:
clear_sunset_ctl.head()

       ts  agent_id  throttle     steer  brake
0  129210         0       0.9 -0.014101    0.0
1  129211         0       0.9 -0.002661    0.0
2  129212         0       0.9 -0.006610    0.0
3  129213         0       0.9 -0.002407    0.0
4  129214         0       0.9  0.000571    0.0

In [16]:
clear_noon_ctl.head()

       ts  agent_id  throttle     steer  brake
0  126927         0       0.9  0.001857    0.0
1  126928         0       0.9  0.001890    0.0
2  126929         0       0.9  0.004431    0.0
3  126930         0       0.9  0.003124    0.0
4  126931         0       0.9  0.003851    0.0