In [1]:
import pandas as pd

In [2]:
clear_night_ctl = pd.read_csv('campaign_results/route_highway_epoch24_clear-night_fi_ghost_cutin/routes_fi_route_highway-0831_210556-data_fi_ghost_cutin-single_ctl.csv')
clear_night_cvip = pd.read_csv('campaign_results/route_highway_epoch24_clear-night_fi_ghost_cutin/routes_fi_route_highway-0831_210556-data_fi_ghost_cutin-single_cvip.csv')
clear_night_traj = pd.read_csv('campaign_results/route_highway_epoch24_clear-night_fi_ghost_cutin/routes_fi_route_highway-0831_210556-data_fi_ghost_cutin-single_traj.csv')

clear_sunset_ctl = pd.read_csv('campaign_results/route_highway_epoch24_clear-sunset_fi_ghost_cutin/routes_fi_route_highway-0831_195039-data_fi_ghost_cutin-single_ctl.csv')
clear_sunset_cvip = pd.read_csv('campaign_results/route_highway_epoch24_clear-sunset_fi_ghost_cutin/routes_fi_route_highway-0831_195039-data_fi_ghost_cutin-single_cvip.csv')
clear_sunset_traj = pd.read_csv('campaign_results/route_highway_epoch24_clear-sunset_fi_ghost_cutin/routes_fi_route_highway-0831_195039-data_fi_ghost_cutin-single_traj.csv')

clear_noon_ctl_1 = pd.read_csv('campaign_results/route_highway_epoch24_clear-noon_fi_ghost_cutin/routes_fi_route_highway-0831_194731-data_fi_ghost_cutin-single_ctl.csv')
clear_noon_cvip_1 = pd.read_csv('campaign_results/route_highway_epoch24_clear-noon_fi_ghost_cutin/routes_fi_route_highway-0831_194731-data_fi_ghost_cutin-single_cvip.csv')
clear_noon_traj_1 = pd.read_csv('campaign_results/route_highway_epoch24_clear-noon_fi_ghost_cutin/routes_fi_route_highway-0831_194731-data_fi_ghost_cutin-single_traj.csv')
clear_noon_ctl_2 = pd.read_csv('campaign_results/route_highway_epoch24_clear-noon_fi_ghost_cutin/routes_fi_route_highway-0831_194855-data_fi_ghost_cutin-single_ctl.csv')
clear_noon_cvip_2 = pd.read_csv('campaign_results/route_highway_epoch24_clear-noon_fi_ghost_cutin/routes_fi_route_highway-0831_194855-data_fi_ghost_cutin-single_cvip.csv')
clear_noon_traj_2 = pd.read_csv('campaign_results/route_highway_epoch24_clear-noon_fi_ghost_cutin/routes_fi_route_highway-0831_194855-data_fi_ghost_cutin-single_traj.csv')
clear_noon_ctl = clear_noon_ctl_1 + clear_noon_ctl_2
clear_noon_cvip = clear_noon_cvip_1 + clear_noon_cvip_2
clear_noon_traj = clear_noon_traj_1 + clear_noon_traj_2

rain_noon_ctl = pd.read_csv('campaign_results/route_highway_epoch24_rain-noon_fi_ghost_cutin/routes_fi_route_highway-0831_194914-data_fi_ghost_cutin-single_ctl.csv')
rain_noon_cvip = pd.read_csv('campaign_results/route_highway_epoch24_rain-noon_fi_ghost_cutin/routes_fi_route_highway-0831_194914-data_fi_ghost_cutin-single_cvip.csv')
rain_noon_traj = pd.read_csv('campaign_results/route_highway_epoch24_rain-noon_fi_ghost_cutin/routes_fi_route_highway-0831_194914-data_fi_ghost_cutin-single_traj.csv')

In [3]:
clear_night_ctl.head()

      ts  agent_id  throttle     steer  brake
0  19634         0       0.9 -0.001915    0.0
1  19635         0       0.9 -0.011255    0.0
2  19636         0       0.9 -0.002095    0.0
3  19637         0       0.9 -0.006768    0.0
4  19638         0       0.9 -0.002169    0.0

In [4]:
clear_night_cvip.head()

      ts  agent_id        cvip      cvip_x     cvip_y      cvip_z
0  19634         0  500.491189  198.767441 -95.832657 -499.819366
1  19635         0    5.595580  195.567444 -90.832657    0.100000
2  19636         0    5.592365  195.567444 -90.832657    0.095407
3  19637         0    5.589578  195.567444 -90.832657    0.084691
4  19638         0    5.587154  195.567444 -90.832657    0.069311

In [5]:
clear_night_traj.head()

      ts  agent_id           x         y         z    v
0  19634         0  192.362411 -86.26268  0.539326  0.0
1  19635         0  192.362411 -86.26268  0.491906  0.0
2  19636         0  192.362411 -86.26268  0.438374  0.0
3  19637         0  192.362411 -86.26268  0.378732  0.0
4  19638         0  192.362411 -86.26268  0.312981  0.0

In [12]:
# to get the duration of the scene:
clear_night_ctl.ts.max(), clear_sunset_ctl.ts.max(), clear_noon_ctl.ts.max(), rain_noon_ctl.ts.max()

(20566, nan, nan, nan)

In [6]:
clear_sunset_ctl.head()

Empty DataFrame
Columns: [ts, agent_id, throttle, steer, brake]
Index: []

In [7]:
clear_noon_ctl.head()

    ts agent_id throttle steer brake
0  NaN      NaN      NaN   NaN   NaN
1  NaN      NaN      NaN   NaN   NaN
2  NaN      NaN      NaN   NaN   NaN
3  NaN      NaN      NaN   NaN   NaN
4  NaN      NaN      NaN   NaN   NaN